<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbpay.admin.repository.mybatis.OrderRepositoryMyBatis">
	<select id="getPriceStat" parameterType="map" resultType="com.bbpay.admin.entity.report.cp.PriceStat">
		select
		a.price,
		a.result,
		count(a.price) as payCount,
		sum(a.price) as payMoney,
		sum(a.success_money) as successMoney
		from bbpay_order a
		<where>
			id>0
			<if test="provinceId != null">and a.province_id=#{provinceId}</if>
			<if test="channelId != null">and a.channel_id=#{channelId}</if>
			<if test="appId != null">and a.app_id=#{appId}</if>
			<if test="cpId != null">and a.cp_id=#{cpId}</if>
			<if test="carrierOperator != null">and a.carrier_operator=#{carrierOperator}</if>
			<if test="fromDate != null">and a.order_date>=#{fromDate}</if>
			<if test="toDate != null"><![CDATA[ and a.order_date <=#{toDate}]]></if>
		</where>
		group by price
	</select>
	<select id="getDateStat" parameterType="map" resultType="com.bbpay.admin.entity.report.cp.DateStat">
		select
		a.order_date as statDate,
		a.result,
		count(a.price) as payCount,
		sum(a.price) as payMoney,
		sum(a.success_money) as successMoney
		from bbpay_order a
		<where>
			id>0
			<if test="provinceId != null">and a.province_id=#{provinceId}</if>
			<if test="channelId != null">and a.channel_id=#{channelId}</if>
			<if test="appId != null">and a.app_id=#{appId}</if>
			<if test="cpId != null">and a.cp_id=#{cpId}</if>
			<if test="carrierOperator != null">and a.carrier_operator=#{carrierOperator}</if>
			<if test="fromDate != null">and a.order_date>=#{fromDate}</if>
			<if test="toDate != null"><![CDATA[ and a.order_date <=#{toDate}]]></if>
		</where>
		group by statDate
	</select>	
</mapper>
